# All these are optional - uncomment to use

JELLYFIN_URL=http://your-jellyfin-url 
JELLYFIN_API_KEY=your-api-key
# MAX_CONCURRENT_JOBS=1
# ALWAYS_ALLOW_ONE_DIRECT_PLAY=true # effectively this will increase the max_concurrent_jobs to +1
# PATH_TRANSLATOR=use this if the path needs to be translated to (for instance) another server.

# File-removal
# REMOVE_FILE_AFTER_RIGHT_DOWNLOAD=true
# TIME_TO_KEEP_FILES=8 # Hours. Non-option when REMOVE_FILE_AFTER_RIGHT_DOWNLOAD=false

# File management
# MAX_CACHED_PER_USER=10

